.hero {
    min-height: 80vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    

    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../image/1.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.hero h1 {
    font-size: 3.5rem;  
    color: white; 
    margin-bottom: 1rem;
}


.hero h1 .highlight {
    color: #ffc107; 
}

.hero p {
    font-size: 1.25rem;
    color: white; 
    margin-bottom: 2.5rem;
}

.cta-button {
    background: white; 
    color: var(--color-primary); 
    padding: 1rem 2.5rem;
    border-radius: 50px; 
    font-weight: 600;
    transition: all 0.3s ease;
}

.cta-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }
}